In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [5]:
1 / 2

0.5

In [7]:
2 ** 4

16

In [8]:
2+3*5+5

22

In [9]:
(2+3) * (5+5)

50

In [10]:
4 % 2

0

In [11]:
5 % 2

1

In [12]:
var = 2

In [13]:
var

2

In [14]:
x = 2
y = 3

In [15]:
x + y

5

In [16]:
x = x+

SyntaxError: invalid syntax (<ipython-input-16-2741497212eb>, line 1)

In [17]:
x = x++

SyntaxError: invalid syntax (<ipython-input-17-487c326c8fbb>, line 1)

In [18]:
x = x+x

In [19]:
x

4

In [20]:
# strings

In [21]:
' single quote'

' single quote'

In [22]:
"this is a string"

'this is a string'

In [23]:
"i can't go"

"i can't go"

In [25]:
x = 'hello'

In [26]:
x

'hello'

In [27]:
print(x)

hello

In [28]:
num = 12
name = 'sam'

In [33]:
print('My number is {one} and my name is {two}, more {one}'.format(one=num,two=name))

My number is 12 and my name is sam, more 12

In [39]:
s = 'abcdefghijk'

In [41]:
s[4:]

'efghijk'

In [43]:
s[3:6]

'def'

In [44]:
[1,2,3]

[1, 2, 3]

In [46]:
['a','b','c']

['a', 'b', 'c']

In [47]:
my_list = ['a', 'b', 'c']

In [48]:
my_list.append('d')

In [49]:
my_list

['a', 'b', 'c', 'd']

In [50]:
my_list[0] = 'New'

In [51]:
my_list

['New', 'b', 'c', 'd']

In [52]:
nest = [1,2,[3,4]]

In [53]:
nest

[1, 2, [3, 4]]

In [55]:
nest[2][1]

4

In [56]:
nest = [1,2,3,[4,5,['target']]]

In [65]:
print(nest[3][2][0])

target

In [64]:
print(nest[2:4])

[3, [4, 5, ['target']]]

In [8]:
d = {'key1':'value', 'key2':123}

In [9]:
d['key2']

123

In [11]:
print(d['key2'])

123

In [12]:
d = {'k1':[1,2,3]}

In [13]:
d

{'k1': [1, 2, 3]}

In [15]:
d['k1'][1]

2

In [16]:
my_list = d['k1']

In [19]:
print(my_list[0:3])

[1, 2, 3]

In [21]:
d = {'k1':{'innerkey':[1,2,3]}}

In [22]:
d['k1']['innerkey'][1:3]

[2, 3]

In [23]:
t = (1,2,3)

In [25]:
t[0]

1

In [26]:
my_list

[1, 2, 3]

In [27]:
my_list[0] = "New"

In [28]:
my_list

['New', 2, 3]

In [29]:
{1,2,3}

{1, 2, 3}

In [30]:
{1,1,1,3,3,2,2,3,3}

{1, 2, 3}

In [31]:
s = {1,2,3}

In [32]:
s.add(5)

In [33]:
s

{1, 2, 3, 5}

In [34]:
s.add(5)

In [35]:
s

{1, 2, 3, 5}

In [36]:
1>2

False

In [37]:
1<=1

True

In [38]:
1==1

True

In [39]:
1!=3

True

In [40]:
'hi'!='bye'

True

In [42]:
1<2 and 2>3

False

In [45]:
(1<2) or (2>3)

True

In [46]:
if 1<2:
    print('yep!')

yep!

In [50]:
if 1==2:
    print('First')
elif 2==2:
    print('Second')
else:
    print('Last')

Second

In [51]:
seq = [1,2,3,4,5]

In [52]:
for x in seq:
    print(x)

1
2
3
4
5

In [59]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i +=1

i is: 1
i is: 2
i is: 3
i is: 4

In [57]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [58]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [60]:
10/3

3.3333333333333335

In [61]:
10//3

3

In [66]:
d = {1:2, 2:'a'}

In [63]:
print(d)

{1: 2, 2: 3}

In [68]:
d[1]

2

In [67]:
d[2]

'a'

In [69]:
x = [1,2,3,4]

In [70]:
out = []

for num in x:
    out.append(num**2)

In [71]:
print(out)

[1, 4, 9, 16]

In [74]:
out = [num**3 for num in x]

In [75]:
print(out)

[1, 8, 27, 64]

In [76]:
out

[1, 8, 27, 64]

In [82]:
def myFunc(name = 'No One'):
    print('Hello ' + name)

In [83]:
myFunc('Joe')

Hello Joe

In [84]:
myFunc()

Hello No One

In [85]:
myFunc

In [86]:
myFunc:

SyntaxError: invalid syntax (<ipython-input-86-105ea75bff31>, line 1)

In [98]:
def square(num):
    """
    THIS IS A DOCSTRING
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER
    """
    return num**2

In [99]:
output = square(2)

In [100]:
square

4

In [111]:
out = [x**2 for x in range(5)]

In [112]:
out

[0, 1, 4, 9, 16]

In [113]:
def time2(var):
    return var*2

In [114]:
time2(5)

10

In [115]:
# map()

In [116]:
seq = [1,2,3,4,5]

In [119]:
map(time2,seq)

In [120]:
list(map(time2,seq))

[2, 4, 6, 8, 10]

In [122]:
t = lambda var:var*2

In [123]:
t(6)

12

In [124]:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

In [137]:
list(map(lambda num1,num2=2: num1*num2, seq))

[2, 4, 6, 8, 10]

In [130]:
square = lambda x: x**2

In [131]:
square

In [132]:
out = square(4)

In [133]:
out

16

In [141]:
def square2(x):
    return x**2

In [142]:
out = square2(3)

In [143]:
out

9

In [144]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

In [145]:
s = 'hello my name is sam'

In [146]:
s.lower

In [147]:
s.upper()

'HELLO MY NAME IS SAM'

In [148]:
s.split()

['hello', 'my', 'name', 'is', 'sam']

In [149]:
tweet = 'Go sports! #Sports'

In [150]:
tweet.split()

['Go', 'sports!', '#Sports']

In [151]:
tweet.split('#')

['Go sports! ', 'Sports']

In [178]:
tweet.split('#')[-1]

'Sports'

In [154]:
d = {'k1':1, 'k2':2}

In [155]:
d

{'k1': 1, 'k2': 2}

In [156]:
d.keys()

dict_keys(['k1', 'k2'])

In [157]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [158]:
d.values()

dict_values([1, 2])

In [159]:
d.pop()

TypeError: pop expected at least 1 arguments, got 0

In [160]:
d.popitem()

('k2', 2)

In [161]:
d

{'k1': 1}

In [163]:
d['k3'] = 3

In [164]:
d

{'k1': 1, 'k3': 3}

In [165]:
d.update({'k2':2})

In [166]:
d

{'k1': 1, 'k3': 3, 'k2': 2}

In [171]:
print(len(d))

3

In [172]:
'x' in [1,2,3]

False

In [173]:
x = [(1,2),(3,4),(5,6)]

In [174]:
x[0][1]

2

In [175]:
for item in x: print(item)

(1, 2)
(3, 4)
(5, 6)

In [176]:
for (a,b) in x: print(b)

2
4
6

In [177]:
for a,b, in x: print(a)

1
3
5